In [1]:
import os
import sys

parent_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(parent_dir)

In [2]:
from utils.mobility_data_manager import DataManager

csv_file = "../Data/cityA_groundtruthdata.csv/cityA_groundtruthdata.csv"
manager = DataManager(
    csv_path=csv_file,
)
df = manager.load_csv()

In [6]:
import pandas as pd

# Suponiendo que `df` es tu DataFrame original
# Ordenar los datos por `uid` en orden descendente
df_sorted = df.sort_values(by="uid", ascending=False)

# Obtener los datos de los últimos 3000 usuarios
last_3000_users = df_sorted["uid"].unique()[:1000]
df_last_3000 = df_sorted[df_sorted["uid"].isin(last_3000_users)]

In [7]:
# Ver las dimensiones del DataFrame (filas y columnas)
print(f"Dimensiones del DataFrame: {df_last_3000.shape}")

# Ver los nombres de las columnas y sus tipos de datos
print("\nInformación del DataFrame:")
display(df_last_3000.info())  # display() para mejor presentación en notebooks

# # Mostrar las primeras filas del DataFrame
# print("\nPrimeras filas del DataFrame:")

# # Resumen estadístico de los datos numéricos
print("\nResumen estadístico:")
display(df_last_3000.describe())

Dimensiones del DataFrame: (992974, 5)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 992974 entries, 111535164 to 110543111
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   uid     992974 non-null  int64
 1   d       992974 non-null  int64
 2   t       992974 non-null  int64
 3   x       992974 non-null  int64
 4   y       992974 non-null  int64
dtypes: int64(5)
memory usage: 45.5 MB

None

Resumen estadístico:

,uid,d,t,x,y
count,992974.000000,992974.000000,992974.000000,992974.000000,992974.000000
mean,99485.453932,35.030088,25.733424,121.482499,84.716833
std,285.532392,22.093950,11.315207,40.754738,43.315214
min,99000.000000,0.000000,0.000000,1.000000,1.000000
25%,99237.000000,16.000000,17.000000,94.000000,58.000000
50%,99477.000000,33.000000,26.000000,125.000000,85.000000
75%,99730.000000,53.000000,35.000000,151.000000,109.000000
max,99999.000000,74.000000,47.000000,200.000000,200.000000

In [8]:
# Guardar en un nuevo DataFrame o exportarlo a un archivo
df_last_3000.to_csv("../Data/cityA_groundtruthdata.csv/cityA_groundtruthdata_last_1000_users.csv", index=False)