In [1]:
import os
import sys

parent_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
sys.path.append(parent_dir)

In [2]:
from utils.mobility_data_manager import DataManager

csv_file = "../Data/cityA_groundtruthdata.csv/cityA_groundtruthdata.csv"
manager = DataManager(
    csv_path=csv_file,
)
df = manager.load_csv()

In [9]:
import pandas as pd

# Ordenar el DataFrame por uid en orden ascendente
df_sorted = df.sort_values(by="uid", ascending=True)

# Obtener los datos de los primeros 3000 usuarios
users = df_sorted["uid"].unique()[:3000]
df_users = df_sorted[df_sorted["uid"].isin(users)]

In [10]:
# Ver las dimensiones del DataFrame (filas y columnas)
print(f"Dimensiones del DataFrame: {df_users.shape}")

# Ver los nombres de las columnas y sus tipos de datos
print("\nInformación del DataFrame:")
display(df_users.info())  # display() para mejor presentación en notebooks

# # Mostrar las primeras filas del DataFrame
# print("\nPrimeras filas del DataFrame:")

# # Resumen estadístico de los datos numéricos
print("\nResumen estadístico:")
display(df_users.describe())

Dimensiones del DataFrame: (3642173, 5)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 3642173 entries, 9 to 3640287
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   uid     int64
 1   d       int64
 2   t       int64
 3   x       int64
 4   y       int64
dtypes: int64(5)
memory usage: 166.7 MB

None

Resumen estadístico:

                uid             d             t             x             y
count  3.642173e+06  3.642173e+06  3.642173e+06  3.642173e+06  3.642173e+06
mean   1.493830e+03  3.746488e+01  2.573454e+01  1.228730e+02  8.511531e+01
std    8.666647e+02  2.168419e+01  1.142356e+01  4.246668e+01  4.273534e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
25%    7.450000e+02  1.900000e+01  1.700000e+01  9.400000e+01  5.700000e+01
50%    1.503000e+03  3.800000e+01  2.600000e+01  1.260000e+02  8.300000e+01
75%    2.246000e+03  5.700000e+01  3.500000e+01  1.560000e+02  1.110000e+02
max    2.999000e+03  7.400000e+01  4.700000e+01  2.000000e+02  2.000000e+02

In [11]:
# Guardar en un nuevo DataFrame o exportarlo a un archivo
df_users.to_csv("../Data/cityA_groundtruthdata.csv/cityA_groundtruthdata_first_3000_users.csv", index=False)

In [6]:
import geobleu
import numpy as np

import numpy as np

generated = [
    (60, 2, 126, 89),
    (60, 4, 126, 89),
    (60, 12, 126, 92),
    (60, 13, 125, 93),
    (60, 14, 125, 92),
    (60, 15, 125, 91),
    (60, 16, 126, 91),
    (60, 18, 126, 91),
    (60, 19, 126, 91),
    (60, 21, 124, 92),
    (60, 23, 125, 91),
    (60, 31, 125, 91),
    (60, 32, 124, 91),
    (60, 33, 125, 91),
    (60, 34, 124, 90),
    (60, 41, 126, 93),
    (60, 42, 126, 92),
    (60, 47, 125, 91),
]
reference = [
    (60, 2, 123, 71),
    (60, 4, 123, 71),
    (60, 12, 123, 74),
    (60, 13, 124, 85),
    (60, 14, 126, 100),
    (60, 15, 123, 106),
    (60, 16, 121, 106),
    (60, 18, 119, 109),
    (60, 19, 119, 110),
    (60, 21, 119, 109),
    (60, 23, 119, 109),
    (60, 31, 120, 108),
    (60, 32, 124, 105),
    (60, 33, 119, 77),
    (60, 34, 123, 71),
    (60, 41, 123, 71),
    (60, 42, 123, 71),
    (60, 47, 123, 71),
]

geobleu_val = geobleu.calc_geobleu(generated, reference, processes=3)
print("geobleu: {}".format(geobleu_val))

dtw_val = geobleu.calc_dtw(generated, reference, processes=3)
print("dtw: {}".format(dtw_val))

# geobleu: 0.21733678721880598
# dtw: 5.889002930255253

geobleu: 6.503258794048911e-05
dtw: 134.02583215169085